.date{
      position:fixed;
      right: 0;
      top: 0;
}
  
.primary { background-color: #9d2053 }
.nav-wrapper {
      padding: 0 24px;
      display: flex;
      align-items: center;
}
.logo-wrapper { height: 48px; line-height: 48px; margin-right: 24px; }
.logo { height: 48px; }

.chat-container {
      width:700px;
      margin:auto;
      margin-top:40px;
}